﻿@model IEnumerable<FileModel>

@{
    ViewData["Title"] = "Index";
}


<h1>Index</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-controller="FileIO" asp-action="DownloadSelected">
            <div class="form-group">
                <label name="year" class="control-label">Choisissez une année (2020, 2021, 2022)</label>
                <input name="year" id="year" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Télécharger" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FileName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FilePath)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FileName)
                </td>
                <td>
                    @*Ceci est pour permettre de forcer la vulnérabilité, ne le supprimez pas,
                    corrigez plutôt la faille "Path Traversal" dans le contrôleur*@
                    @if (string.IsNullOrEmpty(Context.Request.Query["fileName"]))
                    {
                        <a asp-action="DownloadFile" asp-route-filename="@Url.Content(item.FileName)">Download File</a>
                    }
                    else
                    {
                        <a asp-action="DownloadFile" asp-route-filename="@Url.Content(Context.Request.Query["fileName"])">Download File</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>


<form method="post" enctype="multipart/form-data" asp-controller="FileIO" asp-action="FileUpload">
    <div class="form-group">
        <div class="col-md-10">
            <p><b>Téléversez une image:</b></p>
            <input type="file" name="file" />
            <input type="submit" value="Envoyer" />
        </div>
    </div>
    
    @if (!string.IsNullOrEmpty((string)TempData["filePath"]))
    {
        <p>Votre image a été enregistrée avec succès dans @TempData["filePath"] </p>
    }
</form>

