﻿@model Product

@{
    ViewData["Title"] = "Delete";
}

<h1>Supprimer</h1>

<h3>Êtes-vous sûres de vouloir supprimer cet élément?</h3>
<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductId)
        </dt>
        <dd class = "col-sm-10">
            @Model.ProductId
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class = "col-sm-10">
            @Model.ProductName
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrandId)
        </dt>
        <dd class = "col-sm-10">
            @Model.BrandId
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>
        <dd class = "col-sm-10">
            @Model.CategoryId
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModelYear)
        </dt>
        <dd class = "col-sm-10">
            @Model.ModelYear
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ListPrice)
        </dt>
        <dd class = "col-sm-10">
            @Model.ListPrice
        </dd>
    </dl>
    
    <form asp-action="ConfirmDelete" asp-route-id="@Model.ProductId">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Liste">Retour à la liste</a>
    </form>
</div>
