﻿@model Product

@using System.Text.Encodings.Web
@inject JavaScriptEncoder javaScriptEncoder

@{
    ViewData["Title"] = "Edit";
}

<h1>Modifier</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div class="form-group">
                <label asp-for="ProductId" class="control-label"></label>
                <input asp-for="ProductId" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="BrandId" class="control-label"></label>
                <input asp-for="BrandId" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <input asp-for="CategoryId" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="ModelYear" class="control-label"></label>
                <input asp-for="ModelYear" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="ListPrice" class="control-label"></label>
                <input asp-for="ListPrice" class="form-control" />
            </div>
            <div class="form-group">
                <button type="submit" onclick="alert('Êtes-vous sûr de vouloir modifier le produit @javaScriptEncoder.Encode(Context.Request.Query["id"])');" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Liste">Annuler</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
