﻿@model List<Product>

@{
    ViewData["Title"] = "Liste";
}

<h2>Liste de produits</h2>


<form asp-action="Liste" method="get">
    Recherche: <input type="text" name="searchString" />
    <input type="submit" value="Search" />
</form>

@if (!string.IsNullOrEmpty(ViewBag.searchString))
{
    <p>Résultats pour la recherche : @ViewBag.searchString </p>
}

@if (ViewBag.identifiant != 0)
{
    <p>Le produit @Html.Raw(ViewBag.identifiant) vient d'être supprimé</p>
}

@if (!string.IsNullOrEmpty(ViewBag.productName))
{
    <p>Le produit @ViewBag.productName vient d'être modifié</p>
}


<p>
    <a asp-action="Create">Créer un nouveau produit</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th><label asp-for="@Model[0].ProductId"></label></th>
            <th><label asp-for="@Model[0].ProductName"></label></th>
            <th><label asp-for="@Model[0].BrandId"></label></th>
            <th><label asp-for="@Model[0].CategoryId"></label></th>
            <th><label asp-for="@Model[0].ModelYear"></label></th>
            <th><label asp-for="@Model[0].ListPrice"></label></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductId</td>
                <td>@item.ProductName</td>
                <td>@item.BrandId</td>
                <td>@item.CategoryId</td>
                <td>@item.ModelYear</td>
                <td>@item.ListPrice</td>
                <td>
                    <a asp-controller="Product" asp-action="Edit" asp-route-id="@item.ProductId"> Edit | </a>
                    <a asp-controller="Product" asp-action="Delete" asp-route-id="@item.ProductId"> Delete </a>
                </td>
            </tr>
        }
    </tbody>
</table>
